<section
  class="container mx-auto p-4 xl:p-0 -z-50 md:w-full md:max-w-3xl lg:max-w-7xl md:mt-20"
>
  <h2 class="text-3xl font-bold">Création de votre annonce</h2>
  <form class="mt-8" [formGroup]="form" (ngSubmit)="sendData()">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-14 mt-9">
      <div class="container flex flex-col gap-16">
        <!-- Ajout de 'flex' -->

        <div>
          <h3 class="ml-3 text-xl font-bold mb-[5px]">Description</h3>
          <div class="border-[0.5px] border-gray-400 rounded-lg p-1">
            <editor
              apiKey="r5j91v11wxom1d6ailtjpuy28fz67z47y11dh2p1yk5d122m"
              formControlName="editorContent"
              [init]="init"
            ></editor>
          </div>
        </div>

        <p-floatLabel>
          <input
            pInputText
            id="title"
            formControlName="url"
            class="w-full border-2 p-2 border-gray-400"
            style="border-width: 0.5px"
          />
          <label
            class="text-base font-medium leading-none text-black"
            for="title"
            >Url de l'image</label
          >
        </p-floatLabel>
      </div>
      <div>
        <h3 class="text-xl font-medium">Catégories</h3>
        <div class="mt-1">
          <app-create-card-event
            (clikedCategory)="onCategorySelected($event)"
            [data]="data"
          ></app-create-card-event>
        </div>
      </div>
    </div>
    <div class="button-comp">
      <app-button
        type="submit"
        [variant]="'primary'"
        text="Continuer"
        [sizeClasses]="'w-48 h-12 p-2'"
        [disabled]="form.invalid"
      ></app-button>
    </div>
  </form>
</section>
