<app-nav-bar></app-nav-bar>
<section class="container mx-auto p-4 xl:p-0 -z-50">
  <h2 class="text-3xl font-bold mt-9">Création de votre annonce</h2>
  <form class="mt-8" [formGroup]="form" (ngSubmit)="sendData()">
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-14 mt-9">
      <div class="container flex flex-col gap-16">
        <!-- Ajout de 'flex' -->

        <div>
          <h3
            style="margin-left: 3px; margin-bottom: 5px"
            class="ml-1 text-xl font-bold"
          >
            Description
          </h3>
          <div
            style="
              border: 0.5px solid rgb(156, 163, 175);
              border-radius: 5px;
              padding: 1px;
            "
          >
            <editor
              apiKey="r5j91v11wxom1d6ailtjpuy28fz67z47y11dh2p1yk5d122m"
              formControlName="editorContent"
              [init]="init"
            ></editor>
          </div>
        </div>

        <p-floatLabel>
          <input
            pInputText
            id="title"
            formControlName="url"
            class="w-full border-2 p-2 border-gray-400"
            style="border-width: 0.5px"
          />
          <label
            class="text-base font-medium leading-none text-black"
            for="title"
            >Url de l'image</label
          >
        </p-floatLabel>
      </div>
      <div>
        <h3 class="text-xl font-medium">Catégories</h3>
        <div class="mt-1">
          <app-create-card-event
            (clikedCategory)="onCategorySelected($event)"
            [data]="data"
          ></app-create-card-event>
        </div>
      </div>
    </div>
    <div class="button-comp">
      <app-button
        type="submit"
        text="Continuez"
        [variant]="'primary'"
        [disabled]="form.invalid"
        class="w-48 h-12 p-2"
      >
      </app-button>
    </div>
  </form>
</section>
