<section
  class="container mx-auto flex flex-col justify-center items-center md:mt-20"
>
  <div class="md:w-full">
    <div class="flex items-center space-x-2">
      <h1 class="hidden md:block text-left">Mes notifications</h1>
      <img
        src="{{ notification }}"
        alt="notification"
        class="hidden md:block h-10 w-10"
      />
    </div>

    <div
      *ngIf="noData"
      class="border border-[#ffffff] rounded-lg h-96 md:border md:border-[#DDDDDD]"
    >
      <app-notification-request></app-notification-request>
    </div>
    <app-empty-notification></app-empty-notification>
  </div>
</section>
