<div class="card bg-white shadow-md rounded-lg overflow-hidden">
  <div class="relative">
    <img [src]="event?.image || story?.image" alt="{{ event?.title || story?.title }}" class="w-full h-48 object-cover">
    
    <!-- Conditionally display the like button for events only -->
    <button *ngIf="event" (click)="toggleLike()" class="absolute top-2 right-2 p-1 focus:outline-none bg-transparent border-none cursor-pointer">
            <!-- Heart icon when not liked -->
            <svg *ngIf="!liked" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-white opacity-75" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
      
            <!-- Heart icon when liked -->
            <svg *ngIf="liked" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-red" fill="currentColor" viewBox="0 0 24 24" stroke="none">
              <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
            </svg>
          </button>
        </div>
        <div class="p-4">
          <h3 class="text-lg font-semibold mb-2">{{ event?.title }}</h3>
          <p class="text-sm text-gray-600">{{ event?.description }}</p>
          
          <!-- Display category logos -->
          <div class="flex space-x-2 mt-4 justify-center">
            <ng-container *ngFor="let categoryName of event?.categories">
              <ng-container *ngFor="let category of categories">
                <img *ngIf="category.name === categoryName" 
                     [src]="'/assets/imgs/' + category.logo" 
                     [alt]="category.name + ' logo'" 
                     class="w-8 h-8 rounded-full">
              </ng-container>
            </ng-container>
          </div>
        </div>
  <div class="p-4">
    <h3 class="text-lg font-semibold mb-2">{{ story?.title }}</h3>
    <p class="text-sm text-gray-600">{{ story?.content }}</p>
  </div>
</div>


  