<section class="max-w-xs md:max-w-sm mx-auto flex justify-center">
  <div class="flex flex-col gap-4 shadow-custom p-3 rounded-md">
    <div class="relative">
      <img
        class="rounded-xl"
        src="{{ fakeData.url }}"
        alt="{{ fakeData.url }}"
      />
    </div>
    <div class="flex flex-col gap-4 mb-2">
      <h2 class="text-xl text-center font-semibold">{{ fakeData.title }}</h2>
      <p
        class="font-extralight font-lexend text-center text-xs md:text-sm lg:text-md text-[#A3A0A0]"
        [innerHtml]="fakeData.editorContent"
      ></p>
    </div>
    <div class="flex flex-col items-center gap-4">
      <app-detail-event class="mb-2" [detail]="fakeData"></app-detail-event>
    </div>
    <div class="flex flex-col items-center gap-4">
      <app-category-card
        [category]="fakeData.selectedCategories"
      ></app-category-card>
      <app-button
        [text]="'Je réserve'"
        [type]="'button'"
        [variant]="'primary'"
        [sizeClasses]="'w-80 mt-2 my-4 mt-2 '"
      ></app-button>
    </div>
  </div>
</section>
