<section class="lg:max-w-2xl xl:max-w-4xl m-4 lg:m-0">
  <div class="relative">
    <img
      class="rounded-2xl lg:max-w-2xl xl:max-w-4xl xl:relative"
      [src]="imgOfTrip"
      alt="image of trip"
    />
    <button
      (click)="toggleLike()"
      class="absolute top-2 right-2 p-1 focus:outline-none bg-transparent border-none cursor-pointer"
    >
      <!-- Heart icon when not liked -->
      <svg
        *ngIf="!liked"
        xmlns="http://www.w3.org/2000/svg"
        class="h-7 w-7 text-white opacity-75"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
      <!-- Heart icon when liked -->
      <svg
        *ngIf="liked"
        xmlns="http://www.w3.org/2000/svg"
        class="h-7 w-7 text-rose-500"
        fill="currentColor"
        viewBox="0 0 24 24"
        stroke="none"
      >
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
    </button>
  </div>

  <div
    class="mt-5 xl:mt-8 border-b border-[#E8E8E8] flex items-center justify-between gap-2 xl:gap-4 pb-4"
  >
    <div class="flex items-center gap-4">
      <img class="xl:w-16" [src]="imgOfhost" alt="image of host" />
      <h1 class="text-lg xl:text-xl xl:relative">Ulas Önder</h1>
    </div>
    <app-button
      [sizeClasses]="
        'bg-black w-fit xl:w-40 p-2 md:p-3 xl:p-3 text-white font-medium text-md xl:text-lg font-lexend    '
      "
      type="submit"
      text="Participer"
    ></app-button>
  </div>
  <div class="flex justify-between items-center">
    <h2 class="mt-4 xl:text-4xl xl:absolute xl:top-[14%]">Australie</h2>
  </div>

  <span
    class="border-b border-[#E8E8E8] flex items-center gap-2 pb-4 xl:hidden"
  ></span>
</section>
