<section class="lg:max-w-2xl xl:max-w-4xl m-4 lg:m-0">
  <img
    class="rounded-2xl lg:max-w-2xl xl:max-w-4xl"
    [src]="imgOfTrip"
    alt="image of trip"
  />
  <div class="mt-5 border-b border-[#E8E8E8] flex items-center gap-2 pb-4">
    <img [src]="imgOfhost" alt="image of host" />
    <h1>Ulas Önder</h1>
  </div>
  <div class="flex justify-between items-center">
    <h2 class="mt-4">New York</h2>
    <app-button
      classes=" w-fit p-2 md:p-3 text-white font-medium text-md font-lexend mt-4"
      type="submit"
      variant="primary"
      text="Participer"
    ></app-button>
  </div>

  <span class="border-b border-[#E8E8E8] flex items-center gap-2 pb-4"></span>
</section>
