<section class="container mx-auto">
  <div class="p-7">
    <form
      class="flex flex-col md:flex-row items-start mt-12 px-4 md:px-20 justify-around font-mont"
      [formGroup]="search"
    >
      <!-- Dropdown pour mobile -->
      <div class="w-full md:hidden relative">
        <input
          class="w-full px-4 py-2 border rounded focus:outline-none"
          type="text"
          formControlName="localisation"
          placeholder="Rechercher par ville"
        />
        <app-button
          [variant]="'primary'"
          class="absolute top-[10%] left-[75%]"
          (click)="toggleDropdown()"
          text="Filtre"
        >
        </app-button>

        <!-- Dropdown inputs pour mobile -->
        <div
          [ngClass]="{ hidden: !isDropdownVisible, block: isDropdownVisible }"
          class="w-full mt-4 space-y-4"
        >
          <input
            class="w-full px-4 py-2 border rounded focus:outline-none"
            type="text"
            formControlName="localisation"
            placeholder="Pays"
          />
          <input
            class="w-full px-4 py-2 border rounded focus:outline-none"
            type="text"
            formControlName="gender"
            placeholder="Genre"
          />
          <input
            class="w-full px-4 py-2 border rounded focus:outline-none"
            type="text"
            formControlName="title"
            placeholder="Titre"
          />
          <input
            class="w-full px-4 py-2 border rounded focus:outline-none"
            id="start"
            type="text"
            formControlName="fromDate"
            placeholder="DD/MM/YYYY"
          />
          <input
            class="w-full px-4 py-2 border rounded focus:outline-none"
            id="back"
            type="text"
            formControlName="toDate"
            placeholder="DD/MM/YYYY"
          />
        </div>
      </div>

      <!-- Inputs originaux pour tablette et plus -->
      <div class="hidden md:flex md:space-x-4">
        <input
          class="w-1/4 px-4 py-2 border rounded focus:outline-none"
          type="text"
          formControlName="localisation"
          placeholder="Rechercher par ville"
        />
        <input
          class="w-1/4 px-4 py-2 border rounded focus:outline-none"
          type="text"
          formControlName="gender"
          placeholder="Genre"
        />
        <input
          class="w-1/6 px-4 py-2 border rounded focus:outline-none"
          type="text"
          formControlName="title"
          placeholder="Titre"
        />
        <input
          class="w-1/6 px-4 py-2 border rounded focus:outline-none"
          id="start"
          type="text"
          formControlName="fromDate"
          placeholder="DD/MM/YYYY"
        />
        <input
          class="w-1/6 px-4 py-2 border rounded focus:outline-none"
          id="back"
          type="text"
          formControlName="toDate"
          placeholder="DD/MM/YYYY"
        />
      </div>
    </form>
  </div>
  <div class="mt-24">
    <app-main-card *ngIf="(event$ | async) as events; else noDataTemplate" [cardData]="events"></app-main-card>
    <ng-template #noDataTemplate>
      <p>Aucun événement trouvé.</p>
    </ng-template>
      </div>
  <div class="flex justify-center items-center mt-24">
    <app-empty-trip *ngIf="noDataTemplate"></app-empty-trip>
  </div>
</section>
