<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="flex items-center justify-center"
>
  <div class="flex flex-col items-center max-w-xs">
    <div class="flex flex-col gap-6">
      <!-- Gender Dropdown -->
      <p-dropdown
        [options]="gender"
        formControlName="gender"
        optionLabel="name"
        placeholder="Genre"
        [style]="{
          'background-color': 'transparent',
          border: '1px solid white',
          color: 'black',
          'border-radius': '0.25rem',
          height: '36px',
          width: '288px'
        }"
        [panelStyle]="{
          'background-color': 'transparent',
          border: '1px solid white',
          color: 'black'
        }"
      ></p-dropdown>
      <div
        *ngIf="
          (isSubmitted || registerForm.get('gender')?.touched) &&
          registerForm.get('gender')?.invalid
        "
        class="text-white"
      >
        Veuillez sélectionner un genre.
      </div>

      <!-- First Name -->
      <input
        placeholder="Prénom"
        type="text"
        class="p-2 pl-2 text-white placeholder-white bg-transparent border rounded max-w-72 backdrop-blur-lg md:p-3 font-mont focus:outline-none"
        [ngClass]="{
          'border-white':
            !(isSubmitted || registerForm.get('firstName')?.touched) ||
            registerForm.get('firstName')?.valid,
          'border-red-500':
            (isSubmitted || registerForm.get('firstName')?.touched) &&
            registerForm.get('firstName')?.invalid
        }"
        formControlName="firstName"
      />
      <div
        *ngIf="
          (isSubmitted || registerForm.get('firstName')?.touched) &&
          registerForm.get('firstName')?.invalid
        "
        class="text-white"
      >
        Le prénom est requis.
      </div>

      <!-- Last Name -->
      <input
        placeholder="Nom"
        type="text"
        class="p-2 pl-2 text-white placeholder-white bg-transparent border rounded max-w-72 backdrop-blur-lg md:p-3 font-mont focus:outline-none"
        [ngClass]="{
          'border-white':
            !(isSubmitted || registerForm.get('lastName')?.touched) ||
            registerForm.get('lastName')?.valid,
          'border-red-500':
            (isSubmitted || registerForm.get('lastName')?.touched) &&
            registerForm.get('lastName')?.invalid
        }"
        formControlName="lastName"
      />
      <div
        *ngIf="
          (isSubmitted || registerForm.get('lastName')?.touched) &&
          registerForm.get('lastName')?.invalid
        "
        class="text-white"
      >
        Le nom est requis.
      </div>

      <!-- Email -->
      <input
        placeholder="Email"
        type="email"
        class="p-2 pl-2 text-white placeholder-white bg-transparent border rounded max-w-72 backdrop-blur-lg md:p-3 font-mont focus:outline-none"
        [ngClass]="{
          'border-white':
            !(isSubmitted || registerForm.get('email')?.touched) ||
            registerForm.get('email')?.valid,
          'border-red-500':
            (isSubmitted || registerForm.get('email')?.touched) &&
            registerForm.get('email')?.invalid
        }"
        formControlName="email"
      />
      <div
        *ngIf="
          (isSubmitted || registerForm.get('email')?.touched) &&
          registerForm.get('email')?.errors
        "
        class="text-white"
      >
        <div *ngIf="registerForm.get('email')?.errors?.['required']">
          L'email est requis.
        </div>
        <div *ngIf="registerForm.get('email')?.errors?.['email']">
          Veuillez entrer un email valide.
        </div>
      </div>

      <!-- Password -->
      <div class="relative w-full max-w-72">
        <input
          placeholder="Mot de passe"
          [type]="passwordVisible ? 'text' : 'password'"
          class="p-2 pl-2 pr-8 text-white placeholder-white bg-transparent border rounded backdrop-blur-lg md:p-3 font-mont focus:outline-none w-full"
          [ngClass]="{
            'border-white': !(isSubmitted || registerForm.get('password')?.dirty) || registerForm.get('password')?.valid,
            'border-red-500': (isSubmitted || registerForm.get('password')?.dirty) && registerForm.get('password')?.invalid
          }"
          formControlName="password"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 text-white"
        >
          <i [class]="passwordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
        </button>
      </div>
      <div
        *ngIf="
          (isSubmitted || registerForm.get('password')?.dirty) &&
          registerForm.get('password')?.errors
        "
        class="text-white"
      >
        <div *ngIf="registerForm.get('password')?.errors?.['required']">
          Le mot de passe est requis.
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Le mot de passe doit contenir au moins 8 caractères.
        </div>
        <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
          Le mot de passe doit contenir une majuscule, une minuscule, un chiffre
          et un caractère spécial.
        </div>
      </div>

      <!-- Country Dropdown -->
      <p-dropdown
        [options]="country"
        formControlName="country"
        optionLabel="name"
        placeholder="Pays"
        [style]="{
          'background-color': 'transparent',
          border: '1px solid white',
          color: 'white',
          'border-radius': '0.25rem',
          height: '36px',
          width: '288px'
        }"
        [panelStyle]="{
          'background-color': 'transparent',
          border: '1px solid white',
          color: 'white'
        }"
      ></p-dropdown>
      <div
        *ngIf="
          (isSubmitted || registerForm.get('country')?.touched) &&
          registerForm.get('country')?.invalid
        "
        class="text-white"
      >
        Le pays est requis.
      </div>

      <!-- Birthdate -->
      <p-calendar
        dateFormat="dd.mm.yy"
        formControlName="birthdate"
        [showTime]="false"
        placeholder="Date de naissance"
      ></p-calendar>
      <div
        *ngIf="
          (isSubmitted || registerForm.get('birthdate')?.touched) &&
          registerForm.get('birthdate')?.invalid
        "
        class="text-white"
      >
        La date de naissance est requise.
      </div>
    </div>
    <p class="mt-3 text-xs pl-16 leading-4 text-white font-mont mb-7">
      j'ai déjà un compte
      <a routerLink="/auth/login" class="underline">Je me connecte</a>
    </p>
    <app-button
      [sizeClasses]="'w-72 p-2 md:p-3 text-white font-medium text-base'"
      type="submit"
      variant="primary"
      text="S'inscrire"
    ></app-button>
  </div>
</form>
