:host ::ng-deep .p-inputtext {
    height: 48px;
    border: 0.5px solid black;
  }
  :host ::ng-deep .p-calendar {
    background-color: #7CD466;
    border-radius: 10px;
    width: 200px;
  }
  :host ::ng-deep .calendar-1 .p-inputtext {
    border-right: none;
  }
  
  :host ::ng-deep .calendar-2 .p-inputtext {
    border-right: none;
  }
  :host ::ng-deep .p-calendar .p-datepicker-trigger .pi {
    color: #ff5722 !important;
  }
  

:host ::ng-deep .p-inputnumber .p-inputnumber-button {
    margin: 0 8px;
  }
  
  :host ::ng-deep .p-inputtext {
    padding: 8px; 
  }
  
  :host ::ng-deep .gender .p-inputtext{
    border: white;
    min-width: 190px;
  }

  :host ::ng-deep .p-dropdown {
    border: 1px solid black;
    margin-bottom: 55px;
  }