<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="flex flex-col">
    <div class="flex-col flex">
      <div class="flex-col flex gap-5">
        <input
          placeholder="Email"
          type="email"
          id="email"
          class="bg-transparent max-w-72 backdrop-blur-2xl pl-2 md:p-3 font-mont border focus:outline-none border-white rounded placeholder-white text-white"
          formControlName="email"
        />
        <input
          placeholder="Mot de passe"
          type="password"
          id="password"
          class="bg-transparent max-w-72 backdrop-blur-2xl pl-2 md:p-3 font-mont border focus:outline-none border-white rounded placeholder-white text-white"
          formControlName="password"
        />
      </div>
      <p class="mb-7 mt-2 text-white font-mont leading-4 text-xs">
        Pas encore de compte ? <a routerLink="/register" class="underline">Je m'inscris</a>
      </p>      
      <app-button
        [sizeClasses]="'w-full p-3 md:p-3 text-white'"
        type="submit"
        [variant]="'primary'"
        text="Se connecter"
      ></app-button>
    </div>
  </div>
</form>
