<footer class="bg-white text-black py-2 text-center font-mont">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 TRIPGATHER. Tous droits réservés.</p>
      <div class="mt-4">
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook" class="inline-block mx-2 text-black hover:text-primary">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter" class="inline-block mx-2 text-black hover:text-primary">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram" class="inline-block mx-2 text-black hover:text-primary">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn" class="inline-block mx-2 text-black hover:text-primary">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      </div>
  </footer>