<section>
  <div class="bg-white w-full h-screen relative">
    <div
      class="background-overlay absolute inset-0 backdrop-blur-lg z-10"
    ></div>
    <div class="absolute z-20 flex flex-col justify-center items-center w-full">
      <img
        class="mt-32 w-52 md:w-72"
        src="{{ tripLogoWhite }}"
        alt="tripGather logo"
      />
      <h2 class="text-white mt-28 font-mono font-semibold text-xl md:text-2xl">
        Register
      </h2>
      <app-registercomp class="mt-8"></app-registercomp>
    </div>
    <img
      class="md:hidden w-full h-screen overflow-hidden relative z-0"
      src="{{ imgMobile }}"
      alt="mobile-img"
    />
    <img src="{{ imgTablette }}" class="hidden md:block w-full h-screen" />
  </div>
</section>
