<section>
  <div class="relative w-full h-screen bg-white">
    <div
      class="absolute inset-0 z-10 background-overlay backdrop-blur-lg"
    ></div>
    <div class="absolute z-20 flex flex-col items-center justify-center w-full">
      <img
        class="mt-10 w-52 md:w-72"
        src="{{ tripLogoWhite }}"
        alt="tripGather logo"
      />
      <h2
        class="mt-14 mb-4 font-mont text-xl font-semibold text-white md:mt-28 md:text-2xl"
      >
        Register
      </h2>
      <app-register-form class="mt-4"></app-register-form>
    </div>
    <img
      class="relative z-0 w-full h-screen overflow-hidden md:hidden"
      src="{{ imgMobile }}"
      alt="mobile-img"
    />
    <img src="{{ imgTablette }}" class="hidden w-full h-screen md:block" />
  </div>
</section>
