<div>
  <ul class="flex gap-3">
    <li class="bg-[#74B4FF]/20 p-2 rounded-full">
      <img src="{{ ball }}" alt="icon ball" />
    </li>
    <li class="bg-[#A5B4FC]/20 p-2 rounded-full">
      <img src="{{ music }}" alt="icon music" />
    </li>
    <li class="bg-[#FFCD81]/20 p-2 rounded-full">
      <img src="{{ book }}" alt="icon book" />
    </li>
    <li class="bg-[#F87171]/20 p-2 rounded-full">
      <img src="{{ gamepad }}" alt="icon gamepad" />
    </li>
    <li class="bg-[#34D399]/20 p-2 rounded-full">
      <img src="{{ artCulture }}" alt="icon art" />
    </li>
    <li class="bg-[#FB923C]/20 p-2 rounded-full">
      <img src="{{ hobbies }}" alt="icon hobbies" />
    </li>
    <li class="bg-[#A78BFA]/20 p-2 rounded-full">
      <img src="{{ spirituality }}" alt="icon spirituality" />
    </li>
    <li class="bg-[#60A5FA]/20 p-2 rounded-full">
      <img src="{{ socialActivity }}" alt="icon social activity" />
    </li>
  </ul>
</div>
