<div>
  <ul class="font-lexend text-slate-400 font-extralight flex flex-col gap-2">
    <li class="flex flex-row gap-1">
      <img [src]="calendar" alt="icon calendar" />
      {{ conditionData.dateRange }}
    </li>
    <li class="flex flex-row gap-1">
      <img [src]="female" alt="icon female" />
      {{ conditionData.travelType }}
    </li>
    <li class="flex flex-row gap-1">
      <img [src]="money" alt="icon money" />
      {{ conditionData.priceRange }}
    </li>
    <li class="flex flex-row gap-1">
      <img [src]="users" alt="icon users" />
      {{ conditionData.places }}
    </li>
  </ul>
</div>
